<div class="container">

  <div class="row">

    <center><h1>The Great Travel Giveaway!</h1></center>

    <center><h2 style="font-size:20px"><u>Terms &amp; Conditions</u></h2></center>

    &nbsp

    <strong><p>1.0 Eligibility</p></strong>
    <p>1.1 The Great Travel Giveaway! (hereinafter referred to as "the Giveaway") is organized by Wilderness Associates Pte Ltd (hereinafter referred to as "the Organizer") and is open to all aged 13 and above (participants under 18 years-old must obtain parental consent and provide that to the Organizer), except employees of the Organizer, its distributors, advertising and sales promotion agencies and members of their immediate families.</p>

    &nbsp

    <strong><p>2.0 Duration</p></strong>
    <p>2.1 The Giveaway will run on 11 June 2016 (hereinafter referred to as 'the Submission Period').</p>

    <p>2.2 No proof of purchase is required to join the Giveaway.</p>

    &nbsp

    <strong><p>3.0 Participation</p></strong>
    <p>3.1 To enter the Giveaway, participants need to log on to https://www.eatplaysurf.com/EPS100 (hereinafter referred to as "the Website) and carry out the following instructions in the order specified below:</p>
    <p>3.1.1 Like Eat Play Surf’s Facebook Page;</p>
    <p>3.1.2 Enter a valid email;</p>
    <p>3.1.3 Tick the checkbox to allow subscription;</p>
    <p>3.1.4 Click the “Enter Now” button.</p>

    &nbsp

    <strong><p>4.0 Prizes</strong>
    <p>4.1 1x Grand Prize: 2 Nights Stay in Ametis Villa Bali for 2 pax</p>
    <p>4.2 10x Second Prize: $30 Beer Market vouchers</p>
    <p>4.3 50x Third Prize: vouchers for the Chiropractic Initial Consultation by Arc of Life Chiropractic Centre</p>

    &nbsp

    <strong><p>5.0 Judging Criteria</p></strong>
    <p>5.1 Sixty one (61) lucky winners will be picked randomly.</p>
    <p>5.2 Winner(s) will be selected on 20 June 2016.</p>

    &nbsp

    <strong><p>6.0 Notification of Winner(s)</p></strong>
    <p>6.1 Grand Prize draw will be streamed live on Eat Play Surf’s Facebook Page.</p>
    <p>6.2 All winners names will be posted on Eat Play Surf’s Facebook Page.</p>
    <p>6.3 Winner(s) will be contacted via Facebook or phone or email.</p>
    <p>6.4 Winner(s) will be informed where to collect their prizes. In the event winners are unable to collect their prizes personally, they may send a representative on their behalf. The representative must present photocopy of the winner's IC/passport and a Letter of Authorisation signed by the winner authorising the representative to redeem the said prizes on the winner’s behalf.</p>
    <p>6.5 All winner(s) will be asked to show identification when they redeem the prizes.</p>
    <p>6.6 The winner(s) may be required to provide a written acknowledgement of acceptance of all these Terms and Conditions prior to receiving their prize, as well as a written acceptance of the prize itself.</p>
    <p>6.7 In the event the Organizer cannot for whatever reason contact a winner(s) within 1 week from the end of the Lucky Draw Period (20 June 2016), the Organizer reserves the right to select another winner.    </p>

    &nbsp

    <strong><p>7.0 Rights of the Organizer</p></strong>
    <p>7.1 Subject to applicable laws and regulations, the Organizer may at its absolute discretion modify, annul or rescind these Terms and Conditions at any time without prior notice.</p>
    <p>7.2 If for any reason any aspect of the Giveaway is not capable of running as planned, including by reason of infection by computer virus, network failure,bugs, tampering, unauthorized intervention, fraud, technical failures or any causes beyond the control of the Organizer which corrupts or affects the administration, security, fairness, integrity or proper conduct of the Contest,then the Organizer reserves the right in its sole discretion to cancel,terminate, modify or suspend the Giveaway, or invalidate any affected entries.</p>
    <p>7.3 The Organizer reserves the right to disqualify incomplete, illegible,disfigured or late entries automatically or when authenticity of an entry is questionable.</p>
    <p>7.4 The Organizer may at its sole discretion, disqualify any entries and prohibit further participation in the Contest by any person who tampers with the entry process or with the operation of the Contest or who acts in violation of these Terms and Conditions or in a disruptive manner or for other reasons.</p>
    <p>7.5 The Organizer reserves the right to substitute any prize of similar value without prior notice.</p>
    <p>7.6 The Organizer reserves the right to select an alternative winner in the event the Organizer has reasonable grounds for believing that the selected winner has contravened any part of these Terms and Conditions.</p>
    <p>7.7 All participants hereby warrant that all statements and personal details given are true, correct, accurate and complete and that the participant has read and understood all these Terms and Conditions and agrees to be bound by them.Participants also agree to be bound by the decisions of the Organizer.</p>
    <p>7.8 The Organizer may require participants to validate anyone or all of the entries in the Giveaway or to provide more information to allow the Organizer to verify the participants' entries, at any time during the Giveaway prior to be ineligible to redeem any prize.</p>
    <p>7.9 Acceptance of a prize constitutes permission for the Organizer and its agencies to use the winners' names and/or photographs for purposes of publicity,advertising and/or trade without further compensation or notice.</p>
    <p>7.10 The Organizer's decision on any matter concerning the Giveaway is final with respect to any aspect of the Giveaway, including the determination of the winner(s). No correspondences or appeals will be entertained.</p>
    <p>7.11 The Organizer is not responsible or liable for any error, omission,interruption, deletion, defect, delay in operation or transmission,communications line failure, theft or destruction, unauthorized access to, or alteration of, user or member communications, or any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of e-mailer players on account of technical problems or traffic congestion on the Internet and/or Websites.</p>
    <p>7.12 The Organizer is not responsible or liable for late, lost, incomplete,incorrectly submitted, delayed, corrupted or misdirected entries, claims or correspondence whether due to error, omission, alteration, deletion, theft,destruction, transmission interruption, communications failure or otherwise.</p>
    <p>7.13 The Giveaway is in no way sponsored, endorsed or administered by, or associated with Facebook.</p>
  </div>
</div>
