<div class="container custom">
  <div class="row">
    <div class="col-xs-12 col-md-8 custom" style="padding-top: 30px; padding-bottom: 60px; margin:0 auto;">
      <div class="row row-eq-height" style="margin:0 auto; width:85%;">
        <img class="center-xs" src="<%=asset_url("logo_eps1.png")%>" alt="EPS Logo" style="width:90px;height:90px;">
      </div>
      <div style="color:white; text-align:center; margin:0 auto; width:100%; padding-bottom:40px;">
        <h1 style="font-size:50px; letter-spacing: 4px;">The Great Wellness</h1>
        <h1 style="font-size:50px; letter-spacing: 4px;">Travel Giveaway</h1>
      </div>

      <div class="row row-eq-height" style="margin:0 auto; width:85%;">
        <div class="col-xs-4 col-md-3 col-eq-height" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; color:white;">
          <p>1st Prize</p>
        </div>
        <div class="col-xs-8 col-md-9 col-eq-height" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; color:white;">
          <p>1 x 2 Nights Stay at Ametis Villa Bali For 2 Pax (Worth $1600)</p>
        </div>
      </div>

      <div class="row row-eq-height" style="margin:0 auto; width:85%;">
        <div class="col-xs-4 col-md-3 col-eq-height" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; color:white; margin-top:3px;">
          <p>2nd Prize</p>
        </div>
        <div class="col-xs-8 col-md-9 col-eq-height" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
          <p>10 x $30 Beer Market Vouchers</p>
        </div>
      </div>

      <div class="row row-eq-height" style="margin:0 auto; width:85%;">
        <div class="col-xs-4 col-md-3 col-eq-height" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; color:white; margin-top:3px;">
          <p>3rd Prize</p>
        </div>
        <div class="col-xs-8 col-md-9 col-eq-height" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
          <p>50 x Chiropractic Initial Consultation by Arc of Life Chiropractic Centre</p>
        </div>
      </div>

      <div class="row row-eq-height" style="margin:0 auto; width:85%;">
        <div class="col-xs-4 col-md-3 col-eq-height" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; color:white; margin-top:3px;">
          <p>4th Prize</p>
        </div>
        <div class="col-xs-8 col-md-9 col-eq-height" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
          <p>100 x 10% off online purchase at EZBBQ</p>
        </div>
      </div>

      <div class="row" style="margin:0 auto; width:85%;">
        <div class="col-xs-12 col-md-4 custom" style="font-style:bolder; color:white; margin-top:20px;">
          <h4>3 Steps To Win!</h4>
          <div style="color:white; margin-top:15px; padding-left:0px">
            <p>1. Like Eat Play Surf on Facebook.</p>
            <p>2. Enter your name and a valid email address.</p>
            <p>3. Share it with friends.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-8 custom" style="color:white; margin-top:20px; padding-left:10px; font-size:13px;">
          <h4>Important Information</h4>
          <div style="color:white; margin-top:15px; margin-right:15px;">
            <li style>A live draw will be streamed on Eat Play Surf's Facebook Page on 20 June 2016. Save the date to see if you're one of the winners!</li>
            <li style="padding-top:5px"><strong>$100 FREE</strong> Travel Credit Upon Signup - You may use the $100 to pay for any travel packages at eatplaysurf.com, including All Long Weekend Packages. Book within the next 3 months.</li>
            <p>Good to travel till the end of the year.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-4 custom">
      <div style="padding-bottom:80px;">
        <div id="eps1" style="background:white; padding-bottom:20px; padding-top:15px; width:90%; margin-top:190px; margin-left:auto; margin-right:auto;">
          <div class="inner-box">
            <h4>1. Like our Page</h4>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEatPlaySurf.asia%2F&width=300&layout=standard&action=like&show_faces=true&share=false&height=80&appId" width="250" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <h4>2. Enter to win!</h4>
          </div>

          <form>
            <div class="inner-box">
              <input id="input_name" type="name" class="form-control" placeholder="Enter Your Name" style="font-size:11px; margin-bottom:10px;">
              <input id="input_email" type="email" class="form-control" placeholder="Enter A Valid Email Address To Receive Coupon" style="font-size:11px">
            </div>
            <hr width="100%" align="center">
            <div class="inner-box" style="margin-top:-5px;">
              <input type="checkbox" name="checkbox" id="checkbox" value="checked"/>
              <label for="checkbox" class="chkbox-label">I accept and allow my email to be used to be contacted regarding the promotional materials of this campaign.</label>
              <a id="submit_btn" href="javascript:void(0)" class="btn btn-default btn-block btn-flat"  >Enter Now</a>
            </div>
          </form>

          <div style="text-align:center; color:#9c9c9c; font-size:12px; padding-top:22px; line-height:5px;">
            <p>By clicking on 'Enter Now', you accept the</p>
            <a href="/terms/terms-content" id="terms-conditions" onclick="return true">Terms & Conditions</a>
          </div>
        </div>
      </div>

      <div class="row" style="margin:0 auto; width:100%;">
        <div hidden id="eps2" style="background: rgba(0, 0, 0, 0.6);margin-top: -80px; padding-top:50px; padding-bottom:60px; text-align:center;">
          <h1 style="font-size:40px; letter-spacing: 2px; color:white; margin-top:0px; margin-bottom:25px;">Congratulations</h1>
          <div class="description">
            <p>We are excited to reward you with a <em>$100 FREE travel credit</em> for joining the contest. Please allow us 1 working day to process the credits to your email.</p>
            <p style="line-height:1px; padding-top:25px;"><em>Like and Share Our Post Below</em></p>
            <p>To Qualify For The Top 4 Grand Prizes!!</p>
            <iframe style="background:white; margin-top:20px;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEatPlaySurf.asia%2Fposts%2F10153572449555823%3A0&width=250&show_text=true&height=615&appId" width="250" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  var url1 = "<%= url_for(controller: 'static', action: 'ajax_submit_email') %>";

  $(document).ready(function() {
    $(".row-eq-height").each(function() {
      var heights = $(this).find(".col-eq-height").map(function() {
        return $(this).outerHeight();
      }).get(), maxHeight = Math.max.apply(null, heights);

      $(this).find(".col-eq-height").outerHeight(maxHeight);
    });
  });

  $(document).on('click', '#submit_btn', function() {

    if(!$("#input_name").val()){
      alert('Please enter your Name.');
      return false
    }
    if(!$("#input_email").val().match(re)) {
      alert('Please enter a valid Email.');
      return false
    }
    if(!$("#checkbox").is(':checked')){
      alert('You must agree to the terms first.');
      return false
    }
    else{
      $.ajax({
        type: "POST",
        url: url1,
        data: {
          email: $("#input_email").val(),
          name: $("#input_name").val()
        },
        dataType: "script"
      })

      // .done(function() {
      //   jQuery('#eps1').hide();
      //   jQuery('#eps2').show();
      // });


    }
  });
</script>
