// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-custom';

@import url(http://db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova);
@import url(http://db.onlinewebfonts.com/c/f14eee643541cf03a10f26c944cc29f5?family=Proxima+Nova);
@import url(http://db.onlinewebfonts.com/c/895ff6ff137584b40827e283a89f1aa1?family=Lavanderia);

@font-face {font-family: "Proxima Nova";
  src: url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot");
  src: url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix") format("embedded-opentype"),
  url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff2") format("woff2"),
  url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.woff") format("woff"),
  url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.ttf") format("truetype"),
  url("http://db.onlinewebfonts.com/t/bf9f5d50c1b928ff21436517a1a95ad9.svg#Proxima Nova") format("svg");
}

@font-face {font-family: "Proxima Nova SB";
    src: url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.eot");
    src: url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/f14eee643541cf03a10f26c944cc29f5.svg#Proxima Nova") format("svg");
}

@font-face {font-family: "Lavanderia";
  src: url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.eot");
  src: url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.eot?#iefix") format("embedded-opentype"),
  url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.woff2") format("woff2"),
  url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.woff") format("woff"),
  url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.ttf") format("truetype"),
  url("http://db.onlinewebfonts.com/t/895ff6ff137584b40827e283a89f1aa1.svg#Lavanderia") format("svg");
}

h1 {
  font-family: "Lavanderia" !important;
}

h4 {
  font-family: "Proxima Nova SB" !important;
}
p {
  font-family: "Proxima Nova" !important;
}
.container-fluid {
  padding-right: 0px !important;
}

.center {
  margin:auto;
  width:80%;
}

/**
 *  Bootstrap pull 3.x-1.1.1 for Twitter Bootstrap v3.
 *
 *  To have pull-right and pull-left to Bootstrap v3 for xs, sm, md, lg media.
 *  This will help having some complex behavior for contents.
 *  https://github.com/Natshah/bootstrap-pull
 *
 */


@media (max-width: 767px) {
  /** Pull left xs **/
  .pull-left-xs {
    float: left;
  }

  /** Pull right xs **/
  .pull-right-xs {
    float: right;
  }
}

@media (min-width: 768px) {
  /** Pull left sm **/
  .pull-left-sm {
    float: left;
  }

  /** Pull right sm **/
  .pull-right-sm {
    float: right;
  }
}

@media (min-width: 992px) {
  /** Pull left **/
  .pull-left-md {
    float: left;
  }

  /** Pull right **/
  .pull-right-md {
    float: right;
  }
}

@media (min-width: 1200px) {
  /** Pull left **/
  .pull-left-lg {
    float: left;
  }

  /** Pull right **/
  .pull-right-lg {
    float: right;
  }
}

.col-xs-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.custom  {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.col-xs-3 {
  background: rgba(0, 0, 0, 0.6);
  text-align:center;
  padding-top:13px;
  padding-bottom:5px;
  color:white;
}

.description {
  text-align:center;
  color:white;
  margin-left:58px;
  margin-right:58px;
}

.description em {
  color: #03AB97;
  font-style: normal;
  font-family: "Proxima Nova SB" !important;
}

.btn-flat {
  background: #41c4ab;
  color: white;
  border-radius: 0 !important;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inner-box {
  padding-left:25px;
  padding-right:25px;
}
.chkbox-label {
  color:#909090;
  font-size:13px;
  opacity: 0.8;
  font-weight: 200;
  padding-right: 25px;
  padding-left: 30px;
  margin-top:-20px;
}

.cb-slideshow,
	.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    list-style: none;
    padding: 0;
		margin: 0;
	}
	.cb-slideshow:after {
	    content: '';
	}
	.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	  -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 48s linear infinite 0s;
    -moz-animation: imageAnimation 48s linear infinite 0s;
    -o-animation: imageAnimation 48s linear infinite 0s;
    -ms-animation: imageAnimation 48s linear infinite 0s;
    animation: imageAnimation 48s linear infinite 0s;
	}

	.cb-slideshow li:nth-child(1) span { background-image: asset_url('bg.jpg'); }
	.cb-slideshow li:nth-child(2) span {
    background-image: asset_url('bg1.jpg');
		-webkit-animation-delay: 6s;
		-moz-animation-delay: 6s;
		-o-animation-delay: 6s;
		-ms-animation-delay: 6s;
		animation-delay: 6s;
	}
	.cb-slideshow li:nth-child(3) span {
  	background-image: asset_url('bg2.jpg');
	  -webkit-animation-delay: 12s;
		-moz-animation-delay: 12s;
		-o-animation-delay: 12s;
		-ms-animation-delay: 12s;
		animation-delay: 12s;
			}
	.cb-slideshow li:nth-child(4) span {
	background-image: asset_url('bg3.jpg');
		-webkit-animation-delay: 18s;
		-moz-animation-delay: 18s;
		-o-animation-delay: 18s;
		-ms-animation-delay: 18s;
		animation-delay: 18s;
			}
  .cb-slideshow li:nth-child(5) span {
    background-image: asset_url('bg.jpg');
		-webkit-animation-delay: 24s;
		-moz-animation-delay: 24s;
		-o-animation-delay: 24s;
		-ms-animation-delay: 24s;
		animation-delay: 24s;
			}
  .cb-slideshow li:nth-child(6) span {
    background-image: asset_url('bg1.jpg');
		-webkit-animation-delay: 30s;
		-moz-animation-delay: 30s;
		-o-animation-delay: 30s;
		-ms-animation-delay: 30s;
		animation-delay: 30s;
			}
  .cb-slideshow li:nth-child(7) span {
    background-image: asset_url('bg2.jpg');
		-webkit-animation-delay: 36s;
		-moz-animation-delay: 36s;
		-o-animation-delay: 36s;
		-ms-animation-delay: 36s;
		animation-delay: 36s;
			}
  .cb-slideshow li:nth-child(8) span {
    background-image: asset_url('bg3.jpg');
		-webkit-animation-delay: 42s;
		-moz-animation-delay: 42s;
		-o-animation-delay: 42s;
		-ms-animation-delay: 42s;
		animation-delay: 42s;
			}

@-webkit-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation {
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0; }
}


.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

#terms-content {
	width: 700px;
	max-width: 700px;
	font-size: 12px;
}
#terms-content *{
	font-size: 12px;
}
#content {
    padding: 0!important;
  	margin: 0!important;
}
